@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-image: linear-gradient(to right, #f7fbff, #ebf5ff, #ebf5ff, #f7fbff);    
}
button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
/*Header*/
.logo {
    cursor: pointer;
    margin-right: auto;
}
header {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 18px;
    background-color: #ffffff;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}
.topbot button{
    padding: 9px 23px;
    background-color: #1860af;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.topbot button:hover {
    background-color: #86b0d9
}
/*Selection*/
.opt{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 75%;
    margin-top: 2%;
    align-items: center;
  }
.jp{
    background-image: url('../images/jap.png');
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius : 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0,0.3);
    
}
.ing{
    background-image: url('../images/eng.png');
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0,0.3);

}
.kurjp{
    background-image: url('../images/kurjep.png');
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0,0.3);
}
/*Tabs*/
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.tabs {
    position: relative;   
    min-height: 1080px; /* This part sucks */
    clear: both;
    margin: 60px 0;
    text-align: center;
    width: 100%
  }
  .tab {
    float: none;
    display: inline-block
  }
  .tab label {
    background: white; 
    padding: 20px 50px; 
    border: none; 
    margin-left: 0px; 
    position: relative;
    left: 0px; 
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0,0.3);
    font-family: "Roboto", sans-serif;
    color: #3c8cf0;
    transition: all 0.3s ease 0s;
  }
  .tab label:hover{
    background-image: url(../images/label.png);
    background-repeat: no-repeat;
    padding: 25px 50px;
    color: white;
    background-size: cover;
    margin: auto;
    width: 50%;
  }
  .tab [type=radio] {
    display: none;   
  }
  .content {
    position: absolute;
    top: 35px;
    left: 0;
    align-items: center;
    background: white;
    right: 0;
    bottom: -100;
    margin: auto;
    padding: 20px;
    border-top: 5px solid #3c8cf0; 
    text-align: left
  }
  [type=radio]:checked ~ label {
    padding: 25px 50px; 
    background-image: url(../images/label.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: auto;
    width: 50%;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
}
/*JAE*/
.tabtitle{
    font-size: 30px;
    color: #508cf0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.rowtitle{
    font-size: 30px;
    color: #508cf0;
    font-family: "Roboto", sans-serif;
}
.isikai{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  position: relative;
}
.row{
  position: absolute;
}
.kaiback {
  opacity: 0.2;
}
.column{
  padding: 50px;
  border: 5px solid #3c8cf0;
  border-radius : 10px;
  backdrop-filter: blur(5px);
  font-size: 20px;
  box-shadow: 0px 0px 5px #fff;
  font-family: 'Rubik', sans-serif;
  text-shadow: 
-3px 0px 10px #FFF,
3px 0px 10px #FFF,
0px 0px 10px #FFF,
-3px -3px 10px #FFF,
3px -3px 10px #FFF,
0px -3px 10px #FFF,
-3px 3px 10px #FFF,
3px 3px 10px #FFF,
0px 3px 10px #FFF;
}
/*Kursus*/

/*Kontak*/
